.form {
    background-color: #fff;
    padding: 20px;
}
.people .form-group {
    margin: 7px 0 0 0;
}
.people .form-group input {
    font-weight: bold;
}
.form .form-group {
    margin: 0;
    position: relative;
}
.form .form-group .btn {
    position: absolute;
    right: 0;
    bottom: -31px;
}
.form .form-group .btn:focus {
    outline: none;
}
.form .text-formatting .btn {
    margin: 0;
    padding: 4px 18px;
    text-transform: capitalize;
}
.btn-bold {
    font-weight: bold;
}
.btn-italic {
    font-style: italic;
}
.btn-underline {
    text-decoration: underline;
}